{% extends "base.html" %}

{% block content %}
{% load static %}
    <div class="portfolio-list">
        <h1>{{category.name}} Portfolios</h1>
        <ul>
            {% for portfolio in portfolios %}
                <h2> {{portfolio.title}}</h2>
                <p> {{portfolio.description}}</p>
                <li><a href="{% url 'portfolio:portfolio_detail' portfolio.slug %}">{{portfolio.title}}</a></li>
                <img src="{{portfolio.image.url}}" alt="fish">
            {% endfor %}
        </ul>
    </div>
{% endblock %}
